/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.clickable-toggle{
	cursor: pointer;
	position: relative;
}

.clickable-toggle:hover{
	background-color: 	rgba(50, 141, 201, 0.1);
}

.clickable-toggle .arrow{
	content: "";
	width: 13px;
	height: 12px;
	background-image: url('/assets/images/arrow-up.png');
	display: block;
	float: right;
	margin-top: 3px;
}

.clickable-toggle.hidden-down .arrow{
	background-image: url('/assets/images/arrow-down.png');
}

h2.clickable-toggle, h3.clickable-toggle{
	font-size: 1.6em
}

td.name a{
	font-weight: normal;
	font-size: 14px
}