body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0; }

#svgWarn {
  display: none;
  padding: 10px;
  text-align: center;
  background-color: #faa; }

#calculating {
  font-size: 0.72em;
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0px;
  text-align: center;
  z-index: 10; }
  #calculating span {
    padding: 3px;
    background-color: yellow; }

#results {
  overflow: hidden; }

#snippets {
  display: none;
}
#notes_container{
  position: fixed;
  /*bottom: 0;*/
  top: 47px;
  right: -400px;
  width: 400px;
}
#notes_container h4{
  width: auto;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 0 0 -1px 0px;
  cursor: pointer;
  background: white;
  float: right;
}
#notes_container #notes{
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
}  

.ob-float-menu{
  position: fixed;
  padding: 4px 10px;
  top: 47px;
  right: 0;
  font-size: 14px;
  color: #F4530D;
  font-family: 'Roboto',Arial, sans-serif;
  cursor: pointer;
  background-color: #6AAD6B;
  border:none;
  color: white;
  border-bottom: 2px solid #498C4A;
  width: 130px;
  text-align: right;
  opacity: 0.3;
}
.ob-float-menu:hover{
  opacity: 1;
}
#submit-pathway.ob-float-menu{
  top: 77px;
}
#share-pathway.ob-float-menu{
  top: 107px;
}
#food_security .charttitle, #food_security2 .charttitle{
  cursor: pointer;
}

/* Rifki code */
.tick line{
  opacity: 0.2;
  fill: none;
}

.y path.domain{
  stroke-width: 0;
}
#results{
  /*float: left;*/
}
#lahan_kalori{
  float: left;
  padding: 0;
  border: 0;
  margin: 30px 0 0;
  margin-left: 2.4%;
  width: 30%;
  margin-bottom: 0px;

}

.clearfix{
  clear: both
}

.ob-chart{
  width: 30%;
  float: left;
  margin: 0 1%;
}

#ob-chart-container{
  margin: 30px 0 50px 0;
}

.ob-chart-legend{
  font-size: 11px;
  width: 90%;
  margin: 0 auto;
  // margin-left: 50px;
  padding: 20px 20px 0 20px;
  background-color: #FFF;
  height: auto;
  overflow: auto;
  border: 2px solid #e6e7e8;
  border-radius: 20px;
  background-color: #FFF;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.ob-chart-legend:after{
  content: " x";
  clear: both;
  visibility: hidden;
}

.ob-chart-legend span.block{
  width: 12px;
  height: 12px;
  display: block;
  float: left;
  border-radius: 50px;
  margin: 2px 2px 9px 0;
  // opacity: 0.8;
}
.ob-chart-legend .ob-legend-text-container:nth-child(even) span.block{
  margin-left: 10px;
}

.ob-chart-legend  .ob-legend-text-container{
  display: inline-block;
  vertical-align: top;
  /* margin: 0 13px 5px 0; */
  cursor: pointer;
  font-size: 12px;
  width: 50%
}

.ob-legend-text-container.disabled-legend{
  opacity: 0.15
}
.c3-grid{
  opacity: .5;
}

g.c3-chart-lines .c3-area{ 
  opacity: 0.65 !important
}

.ob-chart-title{
  padding-left: 12%;
  text-align: center;
  font-family: 'Roboto',Arial, sans-serif;
}
.c3-chart-bars{
  opacity: 0.8
}

#ob-mini-paper{
  width: 60%;
  margin: 20px auto 0;
  background: #EDF6FC;
  padding: 5px 20px;
  font-family: 'Roboto',Arial, sans-serif;
}

#ob-mini-paper .panel-title{
  margin-bottom: 0;
}

#ob-mini-paper .panel-title > div{
  color: #039;
  font-size: 24px;
  padding: 10px 0;
  border-bottom: 2px solid #6678b1;;
}
#ob-mini-paper .panel-title ul{
  margin: 0;
  padding: 0
}
#ob-mini-paper .panel-title ul li{
  width: 50%;
  float: left;
  display: inline-block;
  list-style: none;
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid rgba(102, 120, 177, 0.1);
}

#ob-mini-paper .panel-content{
}

#ob-mini-paper .panel-content ul{
  width: 50%;
  min-height: 50px;
  margin: 0;
  padding: 15px 0 0;
  float: left;
}
#ob-mini-paper .panel-content.full ul{
  width: 100%
}

#ob-mini-paper .panel-content ul li{
  list-style-type: decimal;
  margin: 5px 0;
  width: 90%;
  margin-left: 20px;
  font-size: 14px;
   font-family: 'Roboto',Arial, sans-serif;
}

#ob-mini-paper .panel-content .ob-blank{
  text-align: center;
}

#ob-mini-paper .panel-content ul li a{
  text-decoration: none;
  color: black;
}

#ob-mini-paper .panel-content ul li a:hover{
  text-decoration: underline;
}

#ob-mini-paper .clearfix{
  margin-bottom: 15px;
}
#ob-chart3 .c3-line{
  stroke-width: 2px !important;
}

#ob-chart2 .c3-line{
  stroke-width: 2px !important;
}

#ob-chart1 .c3-line{
  stroke-width: 2px !important;
}

#ob-submit-pathway, #ob-share-pathway{
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
  display: none;
}

#ob-submit-pathway .layer{
  background-color: rgba(0,0,0,.3)
}

#ob-submit-pathway{
}
#ob-submit-pathway .close, #ob-share-pathway .close{
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: -15px;
  top: -15px;
  background: rgba(0,0,0,1);
  font-weight: normal;
  font-size: 12px;
  color: white;
  padding-top: 5px;
  cursor: pointer;
  opacity: .7;
  text-align: center;
}


.c3-circles-Total-lahan circle, .c3-circles-Total circle, .c3-circles-Total-pembangkitan circle{
  opacity: 1 !important;
  stroke-width: 3px;
}

.c3-circles-Total circle, .c3-circles-Total-kapasitas circle {
  opacity: 1 !important;
  stroke-width: 3px;
}

.c3-line-Baseline {
  stroke-dasharray: 5,5;
  stroke-width: 4px;
}

.form-group{
  width: 100%;
}
.ob-col-6{
  width: 50%;
  float: left;
  padding: 0 5px;
  position: relative;
  box-sizing: border-box;
}
.ob-col-6:first-child{
  padding-left: 0
}
.ob-col-6:last-child{
  padding-right: 0
}

.ob-share-pathway{

}

#bubble-outline-basic.bubble{
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  position: relative;
  transition: border 0.3s;
}
#bubble-outline-basic.bubble:before{
  content: "";
  position: absolute;
  bottom: -9px;
  left: 10px;
  border-width: 9px 7px 0;
  border-style: solid;
  transition: border 0.3s;
  border-color: #e1e5e5 transparent
}
#bubble-outline-basic.bubble:after{
  content: "";
  position: absolute;
  bottom: -8px;
  left: 10px;
  border-width: 9px 7px 0;
  border-style: solid;
  border-color: white transparent;
}

#bubble-outline-basic.bubble textarea{
  resize: none;
  border: none;
  outline:0;
}

#msform .post-detail-image{
  width: 140px;
  height: 100px;
  background-image: url('/assets/images/og-thumb.png');
  background-size: 130px 100px;
  background-repeat: no-repeat;
  float: left;
}

#msform .post-detail-desc{
  float: left;
  font-size: 12px;
  width: 155px;
  text-align: left;
  padding-left: 5px;
  height: 100px;
  color: #aaa;
  overflow: hidden;
}
#msform .post-detail:after{
  content: '';
  clear: both
}
#msform .post-detail{
  margin: 10px 0;
  border-top: 1px solid #eee;
  border-top-style: dashed;
  padding-top: 10px;
}
#msform .btn-fb{
  border-color: #132c49;
  text-shadow: 0px -1px 0px #132c49;
  background: #37639e;
  color: #fff;
  outline: none;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-radius: 2px;
  width: 100%;
  margin-top: 15px;
  transition: background-color 0.2s;
}
#msform .btn-twit{
  margin-top: 10px;
  display: block;
}

.ob-modal{
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,.3);
  z-index: 2;
  display: none;
}

.ob-modal-container{
    background: white;
    border: 2px solid #24847f;
    border-radius: 20px;
    padding: 20px;
    width: 600px !important;
}

.ob-modal-container h2{
  margin-bottom: 2em;
  font-weight: normal;
  font-size: 1.5em;
}

.ob-modal-container p {
  font-size: 12px;
  font-weight: normal;
}
#ob-chart-container{
    min-height: 370px;
}
#ob-welcome-message{
  z-index:90000
}
#ob-welcome-message .btn-masuk, #ob-welcome-message #start-tour{
  // position: relative;
  float: none;
  font-size: 1.3em;
  color: #24847f;
  opacity: 1;
  display: block;
  line-height: 1.3em
}
#start-tour{width: 200px !important}

#ob-welcome-message .btn-outline{
  color: #24847f;
  background-color: #FFF;
  border: 2px solid #24847f;
  padding: 5px 10px;
  display: block;
  width: 150px;
  margin: 20px auto 0;
  text-decoration: none;
}
.ob-chart:hover .reset-zoom{
  display: block;
}
.reset-zoom {
  opacity: 0.5;
  display: none;
}
.reset-zoom a{
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: normal;
  background: #6496c8;
  padding: 2px 5px;
  font-size: 12px;
  text-decoration: none;
}

.reset-zoom a:hover, .reset-zoom a:visited{
  background-color: #346392;
  color: white;
  text-decoration: none;
}
.tooltip{
  z-index: 100
}