.Supply {
  stroke: green;
  fill: none; 
}

.Demand {
  stroke: red;
  fill: none;
}

.Selisih {
  stroke: blue;
  fill: none;
}

.oilimport {
  stroke: green;
  stroke-width: 2;
  fill: none;
}

.gasimport {
  stroke: red;
  stroke-width: 2;
  fill: none;
}

.coalimport {
  stroke: blue;
  stroke-width: 2;
  fill: none;
}

.avgimport {
  stroke: grey;
  stroke-width: 2;
  fill: none;
}

.text_oilimport { 
  fill: green;
  opacity: 0.6;
}

.text_gasimport {
  fill: red;
  opacity: 0.6;
}

.text_coalimport {
  fill: blue;
  opacity: 0.6;
}

.text_avgimport {
  fill: grey;
  opacity: 0.6;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

