#sankey {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  height: 480px; }

#sankey svg * {
  transition: opacity 1s; 
}

ul#sankey-nav{
  max-width: 640px;
  margin: 20px auto;
  text-align: center;
  list-style:none;
  white-space: nowrap;
}

ul#sankey-nav li{
  display: inline-block;
}

ul#sankey-nav li a {
  background-color: #6AAD6B;
  padding: 5px 15px;
  margin: 0 3px;
  color: white;
  text-decoration: none;
}

ul#sankey-nav li a:hover, ul#sankey-nav li a.active {
  background-color: #498C4A;
} 