#topbar {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #6AAD6B;
  color: white;
  border-bottom: solid #498C4A 3px; 
  padding: 2px;
  /*padding: 1px;
  margin: 0 0 10px 0;
   */
}
  #topbar a {
    font-family: 'Roboto',Arial, sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none; 
    display: block;
    line-height: 40px;
}
  #topbar .selectedView {
    /*color: #009ddb;*/
    /*text-shadow: 1px 0px 1px white, 0 0 1em white, 0 0 0.2em white;*/
    background-color: #498C4A; 
    color: white;
    border: 2px solid #498C4A;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   }
  #topbar a:hover {
    text-decoration: underline; 
    /*border-top: 2px solid #f4f4f4;*/
  }
  #topbar #name {
    float: left;
    margin-left: 2.4%;
    width: 15%; 
  }

  #topbar #examples {
    text-align: right;
    float: right;
    margin-right: 2.4%;
    width: 15%; 
    padding: 0;
}
  #topbar #views {
    margin: 0;
    text-align: center; 
    line-height: 40px;
  }
    #topbar #views a {
      display: inline-block;
      width: auto;
      padding: 0 5px;
      margin: 0 5px;
      font-size: 14px;
      line-height: 30px;
    }

.dropdown {
  z-index: 10000;
  position: absolute;
  display: none;
  background: rgba(0,0,255,0.7);
  border-left: 1px solid #009ddb;
  border-bottom: 1px solid #009ddb;
  border-right: 1px solid #009ddb;
  top: 60px;
  /*box-shadow: 0 0 5px #888; */
  vertical-align: middle;
}
  .dropdown a {
    color: #f4f4f4;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #0D6BA9;
    line-height: 30px;
    padding: 2px 15px;
    width: auto;
    min-width: 290px;
   }
  .dropdown a:hover {
    background: rgba(9, 94, 150, 0.9);  
   }

#savedpathway_choices {
  width: auto; 
  min-width: 290px;
  background: rgba(9, 94, 150, 0.7);  
}


.showdropdown {
  top: 47px;
  display: block; 
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
