@font-face {
  font-family: 'wwf';
  src: url('../wwf.woff') format('woff'), url('../wwf.ttf') format('truetype');
  font-style: normal;
}

/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
    font-style: 'arial'
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.drop-shadow{
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
}
.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 0;
    text-align: center;
    color: #f8f8f8;
}

.intro-header .text-wrapper{
    background-color: rgba(0, 0, 0, 0.3)
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 4%;
}

.intro-message > h1 {
    font-family: 'wwf';
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-size: 4.5em;
    letter-spacing: 4px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message p{
    font-size: 1.2em;
}
.intro-message .list-inline{
    margin-top: 5%;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-c {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.bg-thumb-1{background-size: cover; background-image: url('/assets/thumb_2.jpg')}
.bg-thumb-2{background-image: url('/assets/thumb_2.jpg')}

p{font-weight: normal;}
.intro-header{
    position: relative;
    overflow: hidden;
}

#carousel-example-generic{
    position: absolute;
}

a.navbar-brand.topnav{
    padding: 0;
}

.row{
    position: relative;
}

.row .bg-container{
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
}

.content-text{
    margin-bottom: 50px;
    margin-top: 50px;
}

.content-text p {
    font-size: 1.2em;
}

.watermark-text{
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;

}

#disclaimer p, #disclaimer p a{
    color: black;
    font-weight: bold;    
}