<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8">
    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <!-- Change the title to one for your own country -->
    <title>Papua 2050 Pathways Calculator</title>
    <!-- assets is a function definied in the Helper module in src/server.rb -->
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Papua 2050 Pathways Calculator"/>
    <meta property="og:description" content="Kalkulator 2050 Provinsi Papua merupakan inovasi pemodelan berbasis web, menunjukkan sisi pasokan dan permintaan energi di Indonesia bersamaan dengan skenario tata guna lahan dan bagaimana keduanya berinteraksi dalam menentukan tingkat keamanan energi, emisi gas rumah kaca dan tata guna lahan di Indonesia di masa yang akan datang."/>


    <link rel="icon" href="favicon.ico" type="image/x-icon"> 

    <!-- Bootstrap Core CSS -->
    <link href="assets/landing/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/landing/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/landing/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="http://wwf.or.id" target="_blank"><img src="assets/logo_navbar.png" alt="" width="80"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">Kalkulator Provinsi Papua 2050</a>
                    </li>
                    <li>
                        <a href="#perubahan-iklim">Perubahan Iklim</a>
                    </li>
                    <li>
                        <a href="#penurunan-emisi">Penurunan emisi</a>
                    </li>
                    <li>
                        <a href="#skenario-kpp">Skenario</a>
                    </li>
                    <li>
                        <a href="#disclaimer">Tentang KPP2050</a>
                    </li>
                    <li>
                        <a class="navbar-brand topnav" href="http://pelangi.or.id" target="_blank" style="margin: 0 25px"><img class="drop-shadow" src="assets/logo_pelangi.png" alt="" width="80"></a>
                        <a class="navbar-brand topnav" href="http://papua.go.id" target="_blank"><img class="drop-shadow" src="assets/logo_pemda_papua.png" alt="" width="80"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="intro-header" id="about">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/assets/slide_1.jpg" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide_2.jpg" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide_3.jpg" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
      </div>

    </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-wrapper">
                    <div class="intro-message">
                        <h1>Kalkulator Provinsi Papua 2050</h1>
                        <h3>Menuju Provinsi Papua yang mandiri energi</h3>
                        <hr class="intro-divider">
                        <p>Tersedianya energi yang terbarukan dan ramah lingkungan telah dimandatkan dalam Visi Papua 2100. Namun berdasarkan data statistik PLN 2014, rasio elektrifikasi Papua masih berada pada tingkat 39,51%. Sementara itu, lebih dari 90% sumber energi untuk pembangkit listrik masih menggunakan energi fosil, terutama bahan bakar minyak. </p>
                        <p>Apa konsekuensinya bila Papua tetap bergantung pada energi fosil yang berasal dari luar? Apa yang terjadi apabila Papua menjadi lebih mandiri energi dengan beralih kepada energi terbarukan yang tersedia berlimpah? </p>
                        <p>Dengan menggunakan Kalkulator Provinsi Papua 2050 (KPP2050), Anda dapat membuat berbagai skenario dengan memilih jenis-jenis sumber energi yang akan dimanfaatkan untuk Provinsi Papua dan melihat dampaknya terhadap ketersediaan lahan dan emisi gas rumah kaca hingga tahun 2050.</p>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/pathways" class="btn btn-default btn-lg"><i class="fa fa-arrow-circle-right fa-fw"></i> <span class="network-name">Coba sekarang</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a" id="perubahan-iklim">

        <div class="container">

            <div class="row">
                <div class="col-lg- col-sm-6 col-xs-6 content-text">
                    <h2 class="section-heading">Papua dan Perubahan Iklim</h2>                    
                    <div class="clearfix"></div>
                    <p>Dunia sepakat untuk menjaga agar temperatur rata-rata global tidak akan melebihi 2 derajat Celcius dibanding ketika masa pra-industri, bahkan berusaha agar tidak melebihi 1,5 derajat. </p>
                    <p>Mengapa 2 derajat? Karena perubahan lebih dari 2 derajat akan membawa dampak yang genting bagi kehidupan umat manusia. Untuk mencapai target itu artinya dunia harus berhenti menghasilkan gas rumah kaca sebelum tahun 2060, atau menjaga luasan hutan yang cukup untuk menyerap gas rumah kaca yang masih dihasilkan oleh energi fosil.</p>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 bg-container " style="background-image: url('assets/thumb_1.jpg'); right: 0">
                    <div class="watermark-text">© WWF-Indonesia</div>   
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- Page Content -->

    <div class="content-section-b" id="penurunan-emisi">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-push-6 col-sm-6 col-xs-push-6 col-xs-6 content-text" style="margin-left: 5%; padding-right: 5%">
                    <h2 class="section-heading">Penurunan Emisi Gas Rumah Kaca</h2>                    
                    <div class="clearfix"></div>
                    <p>
                        Sementara itu, Indonesia berkomitmen untuk menurunkan emisi gas rumah kaca sebesar 29% pada tahun 2030 dari skenario business as usual (BAU) dengan usaha sendiri, atau sebesar 41% dengan bantuan internasional. Emisi gas rumah kaca Papua saat ini masih sangat didominasi oleh sektor tata guna lahan, yaitu mencapai 99%. Menurut data dari Indonesian National Carbon Accounting System (INCAS) yang disusun oleh Kementerian Lingkungan Hidup dan Kehutanan di tahun 2015, emisi Papua berbasis lahan tahun 2011 mencapai  sekitar  120 juta  ton CO₂-eq. Provinsi Papua telah menyusun Rencana Aksi Daerah Penurunan Emisi Gas Rumah Kaca (RAD-GRK) yang tentunya akan berkontribusi dalam target penurunan emisi nasional. Kegiatan yang masuk ke dalam RAD-GRK Papua diantaranya rehabilitasi lahan, pengembangan energi terbarukan dan pengelolaan sampah.
                    </p>

                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6 col-xs-6 bg-container " style="background-image: url('assets/thumb_2.jpg');">
                    <div class="watermark-text">© WWF-Indonesia</div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a" id="skenario-kpp">

        <div class="container">

            <div class="row">
                <div class="col-lg- col-sm-6 col-xs-6 content-text">
                    <h2 class="section-heading">Skenario di dalam KPP2050</h2>                    
                    <div class="clearfix"></div>
                    <p>Visi Papua di tahun 2100  adalah mewujudkan pembangunan Papua yang ramah lingkungan, alam yang lestari, aman nyaman, dan produktif untuk menjamin kualitas hidup masyarakat dengan memperhatikan kearifan lokal. Salah satu contoh skenario dalam KPP2050 berusaha merepresentasikan Visi Papua 2100, hasilnya adalah pembangunan dengan emisi rendah karbon.</p>
                    <p>Contoh lain skenario yang ditampilkan adalah representasi Visi Energi Provinsi Papua 2050, yaitu suatu studi yang diinisiasi oleh WWF Indonesia yang menawarkan skenario alternatif penyediaan energi Papua hingga tahun 2050 dengan mengoptimalkan pemanfaatan energi terbarukan. </p>
                    <p>Dengan KPP2050, Anda dapat menciptakan skenario sendiri dengan memainkan berbagai tuas pilihan skenario, mulai dari nilai 1 hingga 4. Anda akan bisa langsung melihat dampak dari pilihan Anda di masa yang akan datang. Kirimkan skenario terbaik Anda kepada kami!</p>
                    <br>
                    <a href="/pathways" class="btn btn-default btn-lg"><i class="fa fa-arrow-circle-right fa-fw"></i> <span class="network-name">Mulai</span></a>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 bg-container " style="background-image: url('assets/thumb_3.jpg'); right: 0">
                    <div class="watermark-text">© WWF-Indonesia</div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner" id='disclaimer'>

        <div class="container">

            <div class="row">
                <p>KPP2050 dikembangkan oleh WWF Indonesia dan Pelangi Indonesia dengan bekerja sama dengan Bappeda Provinsi Papua serta didukung oleh Kedutaan Besar Inggris. Untuk informasi lebih lanjut, hubungi <a href="mailto:kalkulatorpapua2050@wwf.id">kalkulatorpapua2050@wwf.id</a>.</p>                    
                <p>Disclaimer: KPP2050 dikembangkan dengan menggunakan data dan informasi resmi yang tersedia, serta metode, definisi dan asumsi yang transparan. Namun, hasil dari simulasi KPP2050 selayaknya dipertimbangkan sebagai dugaan dan tidak diinterpretasikan sebagai hasil proyeksi yang akurat. Skenario-skenario yang terdapat di dalam KPP2050 bukan merupakan opini ataupun posisi WWF Indonesia.</p>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    

    <!-- jQuery -->
    <script src="assets/landing/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/landing/bootstrap.min.js"></script>
    <script src="assets/landing/smooth-scroll.js"></script>
    <script> 
        $('.carousel').carousel({
            interval: 4000
        });
    </script>
</body>

</html>
